/* 바디 전체 */
@font-face {
  font-family: "pixel"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("./font/neodgm.woff") format("opentype"); /* 폰트파일 불러오기 */
}
body {
  background-color: antiquewhite;
}


.box_text {
  font-family: 'pixel', sans-serif;
  text-align: center;
}
/* 로그인 회원가입 */
.login_wrap .Login {
  color:  #911f29;;
}

/* 메뉴바 설정 */
.navcolor {
  background-color: rgb(236, 218, 194);
}


.main_box1 {
  position: absolute;
  width: 400px;
  height: 600px;
  border: 2px solid #966f6f;
  border-radius: 5px;
  background-color: rgb(206, 169, 121);
  margin-right: 625px;
}

.main_box2 {
  position: absolute;
  width: 400px;
  height: 600px;
  border: 2px solid #966f6f;
  border-radius: 5px;
  margin-left: 625px;
  background-color: rgb(206, 169, 121);
}

.main_wrap {
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main_wrap a {
  color: aliceblue;
  text-decoration: none;
}

.item {
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.item:hover {
  background-color: rgb(172, 172, 172);
}

.ranking {
  font-weight: 999;
  font-size: 15pt;
  font-style: italic;
  text-decoration: underline;
  color: aliceblue;

  margin-right: 5px;
}
.sumimg {
  width: 75px;
  height: 75px;
}

.date_writer_con {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date {
  font-size: 10pt;
}
.writer {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 7pt;
  color: antiquewhite;
  font-weight: bold;
}

.comment {
  font-size: 5pt;
}

.matching-img {
  position: relative;
  top: 75px;
  left: 250px;

  transform: translate(-50%);

  display: block;
  margin: auto;
  width: 450px;
  height: 225px;
}


#match-btn1 {
  color: white;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 3px;
}

#match-btn2 {
  color: white;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 3px;
}


.matching-btn:hover {
  background-color: rgb(172, 172, 172);
}

#foot {
  padding-top: 5px;
  margin-top: 700px;
  border-top: 1px solid #000000;
  
  color: salmon;
  text-align: center;
  font-size: 15px;
}

/* 캐릭터 이미지 */
.ruru {
  display: inline-block;
  position: relative;
  left: -25%;
  width: 200px;
  height: 200px;
}

.timo {
  display: inline-block;
  position: relative;
  left: +48%;
  width: 200px;
  height: 200px;
} 

.nar {
  display: inline-block;
  position: relative;
  left: -40%;
  transform: translate(-50%, +160%);
  width: 200px;
  height: 200px;
} 

.youme {
  display: inline-block;
  position: relative;
  left: +32%;
  transform: translate(-45%, +155%);
  width: 200px;
  height: 200px;
} 
